// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";
@import 'bourbon';
@import 'neat';

// Cherry Bomb Colors
$greyDark: #212021;

body {
  @include outer-container;
  background: #fff;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;


  ///////////// top navigation area ///////////

  .searchForm {
    width: 100%;
  }

  h1.logo {
    color: #fff;
  }

  //////////// side navigation area /////////////

  .side-nav {
    @include span-columns(3);
    color: #fff;
    background: $greyDark;
  }

  .container {
    margin: 15px auto;
  }

  li {
    cursor: pointer;
  }

  .imageGallery {
    @include span-columns(3);
    @include omega(6n);

  }
}



